h1{
    font-weight: 900;
    font-size: 200%;
}
section{
    display: flex;
    margin-bottom: 5%;
}

    
.role{
    margin:6%;
}
.orange{
    color:violet;
}
#frame{
    margin-top:10% ;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,cyan);
    padding:10px 40px;
    margin-top: 5%;
}
.about-me{
    width:50%;
    margin-right: 15%;
    padding:2%;
}
.about-me img{
    width:70%;
    margin-left:55%;
}