h1{
    font-weight: 900;
    font-size: 200%;
}
section{
    display: flex;
    margin-bottom: 5%;
}

    
.role{
    margin-left: 100px;
}
.role img{
    margin-right: 45%;
    width:80%;
    
}
.orange{
    color:violet;
}
#frame{
    margin-top:10% ;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,cyan);
    padding:10px 40px;
    margin-top: 5%;
}
.about-me{
    width:50%;
    margin-right: 15%;
    padding:2%;
}
.about-me img{
    width:70%;
    margin-left:55%;
}
.contact-button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding:10px 30px;
    border-radius:50%;
}
.bottom-img{
    background-image: url(images/shapes/Frame\ 58.jpg);
    background-repeat: no-repeat;
}
.paragraph{
    font-size: 24px;
    margin-bottom: 90px;
}
.recipies{
    font-size: 70px;
    text-align:center;
}
.recipie-1{
    margin:2%;
    padding:2%;
  box-shadow: 20px 80px 40px;
}
.recipie-1 img{
    width:130%;
}
.recipie-2{
    margin:5%;
    
    box-shadow: 10px 10px 10px;
}
.recipie-2 img{
    width:50%;
    margin: 2%;
}
.recipie-3{
    margin-right:5%;
    box-shadow: 20px 40px 20px;
}
.recipie-3 img{
   width:110%;
}
footer{
 text-align: center;
 background-color: black;
 color:slategray;
 height:200px;
}